= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
  #login.tab-pane.active
    %form.form-signin{action: "index.html"}
      %input.form-control{placeholder: "Correo", type: "text", name: 'user[email]'}/
      %input.form-control{placeholder: "Contraseña", type: "password", name: 'user[password]'}/
      %br
      %button.btn.btn-lg.btn-primary.btn-block{type: "submit"} Iniciar Sesión
:css
  body {
    text-align: center;
    background-image: url('/assets/zinc01.jpg');
  }
  #login {
    padding: 10px;
    max-width: 300px;
    margin: 0 auto;
  }
  input.form-control {
    max-width: 300px;
    text-align: left;
  }